.backgroundIntro {
  background-color: #1a72d1;
}

.pIntro,
.h1Intro {
  text-align: center;
  font-weight: 500;
}

.pIntro {
  font-size: 2em;
}

.h1Intro {
  font-size: 10em;
}

.icons {
  font-size: 3em;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
