.navbar {
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 50px;
}

.EmailIcon,
.ResumeIcon,
.LinkedInIcon,
.GithubIcon {
  font-size: 2rem;
  min-width: 50px;
  cursor: pointer;
  color: black;
}

.navbar-brand {
  padding: 5rem;
  cursor: pointer;
}

.navbar-brand > .active {
  color: black;
  font-weight: 500;
  border-style: hidden;
  padding: 2px 5px;
  border-radius: 10px;
  background-color: #cce0f5;
}

.section-dark {
  background: #444444;
  color: white;
}

.section-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.form-inline {
  margin-left: auto;
}
