.navbar {
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
}

.GithubIcon {
  font-size: 2em;
  min-width: 60px;
  cursor: pointer;
}

.navHeader {
  display: inline-block;
  color: #444444;
  border-style: hidden;
  background-color: transparent;
  cursor: pointer;
}

.navHeader:hover {
  color: black;
  font-weight: 500;
}

.navHeader > .active {
  color: black;
  border-style: hidden;
  padding: 2px 5px;
  border-radius: 10px;
  background-color: #cce0f5;
}

.section-dark {
  background: #444444;
  color: white;
}

.section-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}
