.backgroundAbout {
  background-color: #4d91db;
}

.h1About {
  text-align: center;
  font-weight: 500;
  font-size: 3.3em;
  padding-top: 13%;
  padding-bottom: 2%;
}

.profile {
  float: right;
  font-size: 25em;
}

.aboutMe,
.skills {
  text-align: center;
  font-size: 1.1em;
}

.textHeader {
  font-weight: 500;
  font-size: 1.3em;
}
